body{
	background-image: url("imagenes/fondo.jpg");
}

#uno {
	background-image: url("imagenes/fondo1.jpg");
}

#dos {
	background-image: url("imagenes/fondo2.jpg");
}

#tres {
	background-image: url("imagenes/fondo3.jpg");
}

#cuatro {
	background-image: url("imagenes/fondo4.jpg");
}

#cinco {
	background-image: url("imagenes/fondo5.jpg");
}

#seis {
	background-image: url("imagenes/fondo6.jpg");
}

#siete {
	background-image: url("imagenes/fondo7.jpg");
}

#ocho {
	background-image: url("imagenes/fondo8.jpg");
}

#nueve {
	background-image: url("imagenes/fondo9.jpg");
}

#diez {
	background-image: url("imagenes/fondo10.jpg");
}

#en {
	color: black;
}

@font-face {
	font-family: Fuente;
	src: url(fuentes/Fuente.ttf);
}
@font-face {
	font-family: Fuentetitulo;
	src: url(fuentes/fuentetitulo.ttf);
}

h1 {
	border: 2px solid white;
	margin-top: 10%;
	margin-left: 55%;
	position: relative;
}

.video {
	border: 2px solid white;
	margin-left: 55%;
	position: relative;
}
h3 {
	border: 2px solid white;
	padding: 1em;
	margin-left: 0,5%;
	margin-top: 7%;
	margin-right: 70%;
	position: absolute;
}

.titulo {
	text-align: center;
	color: red;
	font-size: 2em;
	font-family: Fuentetitulo;
}


.tituloprincipal {
	color: red;
	font-size: 2em;
	font-family: Fuentetitulo;
}

.p {
	margin-left: 40%; 
}

.cuerpo {
	padding-top: 40px;
	text-align: center;
	font-size: 18px;
	color: white;
	text-align: justify;
}
.inicio {
	font-size: 30px;
	text-align: center;
	font-style: bold;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom-color: white;
}

.intro {
	font-size: 30px;
	text-align: center;
	font-family: Fuente;
	font-style: bold;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

fieldset {
	text-align: center;
	border: 2px solid white;
	margin-top: 0,5%;
	margin-left: 0,5%;
	margin-right: 0,5%;
	margin-bottom: 0,5%; 
	position: relative;
}

.enlaceweb {
	color: gray;
}

a:hover {
		text-decoration: none;
		background-color: red;
		}
a:visited:hover {
	color:  black;
}

.enlace {
	color: yellow;
	text-decoration: none;
	margin: 100px;
	font-size: 20px;
}
.enlace1 {
	color: yellow;
	text-decoration: none;

	font-size: 20px;
}
.texto {
	padding-top: 40px;
	padding-bottom: 20px;
	margin-left: 100px;
	width: 80%;
	font-size: 18px;
	color: white;
	text-align: justify;
	font-size: 1.5em;
	font-family: Fuente;
}

.textointro {
	font-size: 0.8em;
	text-align: justify;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	font-family: Fuente;
}

#enviar {
	background-color: rgb(29, 28, 12);
	width: 80%;
	margin: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Fuentetitulo;
	font-size: 25px;
	letter-spacing: 10px;
	color: white;
}

table, td, tr {
	width: 80%;
	margin: auto;
	text-align: center;
	border: ridge white 3px; 
	border-collapse: collapse;
}

label {
	margin-left: 5px;
}

#contra {
	margin-top: 15px;
}

#enviado {
	color: green;
}

#largo {
	width: 45%;
}

#mediano {
	width: 30%;
}

td {
	padding: 10px;
	width: 30%;
}

#escrito {
	color: white;
	font-size: 1em;
	padding: 7px;
}

 	#primera {
	    background-image: url("imagenes/foto1.jpg");
	    background-size: cover;
	    background-repeat: no-repeat;
	    width: 420px;
	    height: 250px;
	    top: 100px;
	    left: 50px;	
	    background-position: 50% 50%;
    }

 	#segunda {
	    background-image: url("imagenes/foto2.jpg");
	    background-size: contain;
	    background-repeat: no-repeat;
	    width: 420px;
	    height: 250px;
	    top: 100px;
	    left: 50px;		
	    background-position: 50% 50%;
    }

    #tercera {
    	background-image: url("imagenes/foto3.jpg");
    	background-size: contain;
    	background-repeat: no-repeat;
    	width: 420px;
	    height: 250px;
	    top: 100px;
	    left: 50px;	
	    background-position: 50% 50%;
    }

    #cuarta {
    	background-image: url("imagenes/foto4.jpg");
	    background-size: contain;
	    background-repeat: no-repeat;
	    width: 420px;
	    height: 250px;
	    top: 100px;
	    left: 50px;	
	    background-position: 50% 50%;
    }

    #quinta {
	    background-image: url("imagenes/foto5.jpg");
	    background-size: contain;
	    background-repeat: no-repeat;
	    width: 420px;
	    height: 250px;
	    top: 100px;
	    left: 50px;	
	    background-position: 50% 50%;
    }

    #sexta {
	    background-image: url("imagenes/foto6.jpg");
	    background-size: contain;
	    background-repeat: no-repeat;
	    width: 420px;
	    height: 250px;
	    top: 100px;
	    left: 50px;	
	    background-position: 50% 50%;
    }

    #septima {
	    background-image: url("imagenes/foto7.jpg");
	    background-size: contain;
	    background-repeat: no-repeat;
	    width: 420px;
	    height: 250px;
	    top: 100px;
	    left: 50px;	
	    background-position: 50% 50%;
    }

    #octava {
	    background-image: url("imagenes/foto8.jpg");
	    background-size: contain;
	    background-repeat: no-repeat;
	    width: 420px;
	    height: 250px;
	    top: 100px;
	    left: 50px;	
	    background-position: 50% 50%;
    }

    #novena {
	    background-image: url("imagenes/foto9.jpg");
	    background-size: contain;
	    background-repeat: no-repeat;
	    width: 420px;
	    height: 250px;
	    top: 100px;
	    left: 50px;	
	    background-position: 50% 50%;
    }

    #marco {
    	width: 420px;
	    height: 250px;
	    top: 100px;
	    left: 50px;
	    float: left;
	    margin-top: 20px;
	    background-position: center;
    }
}